/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */
/* .flexoptionsexample{
    display:flex;
    flex-direction: column; 
    justify-content:#;
    align-items: #;
	flex-wrap:#; 
} */

header {

    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-bottom: 30px;
}

.navBar{
    display:flex;
    justify-content: space-between;
}

a {
	text-decoration: none;
	color: grey;
	margin: 0 20px;
}

.button {
	background-color: #COLOR;
	border: 1px solid black;
	padding: 10px 20px;
}

.container {

	margin: 0 auto;
	max-width: 800px;
	padding: 16px;
	border-left-color: 1px solid grey;
	border-right-color: 1px solid grey;
}
.middle-img{
    width:100%;

}

  .top {
        display:flex;
        justify-content:center;
    }

.top {
	
	display: flex;
	flex-direction: row;
    justify-content: space-between;
   
}

.leftTop {
	box-sizing: auto;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.iod {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.innovation {
	font-size: 50px;
}

.on {
	font-size: 50px;
	position: center;
}
.demand {
	font-size: 50px;
}


.button {
	border: 1px solid grey;
	margin: 40px;

}

.button:hover {
	background:blue;
	color: white;
}

/* .rightTop {
	box-sizing: 400px;
	border: 1px solid green;
	display: flex;
	flex-direction: column;
	justify-content: center;
} */

.middleContent {
	display: flex;
	justify-content: space-between;
}


.middle-img {
    padding: 20px 0;
}

.bottom {
	display: flex;
}


.contact {
	box-sizing: 60px;
}

footer{
    display:flex;
    flex-direction: column;
    margin:20px 0;
}
footer .copyright:nth-child(2){
   
    justify-content:center;
}
.copyright{

    padding-left: 35%;

}

@media(max-width:700px){
  
    .top {
          justify-content:center;
      
          }
      .round-img{
              display:none;
          }
      header {
  
              display:flex;
              flex-direction: column-reverse;
              align-items:center;
              
          }
          .logo{
            padding-bottom: 30px;
        }
        .navBar{
            width:100%;
            justify-content: space-between;
        }
      
      }
@media(max-width:500px){
    header {

        display:flex;
        flex-direction: column-reverse;
        align-items:center; 
    }
    
    .navBar{
        display:flex;
        flex-direction:column;
        padding-top: 10px;
        padding-bottom: 0px;
        border-bottom: 1px solid grey;
        
    }
    .logo{
        padding-bottom: 10px;
    }
    .navBar a{
        border-top: 1px solid grey;
        padding: 20px 90px;
    }
    .round-img{
        display:none;
    }
    .middleContent{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
	
    }
    .bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
	    
    }
    .about{
        padding-top: 20px;
    }
    .services{
        padding-top: 20px;
    }
    .product{
        padding-top: 20px;
    }
    .vision{
        padding-top: 20px;
    }
}